$font-path: '/assets/fonts/unb';

@font-face {
  font-family: 'UnBPro';
  src: url($font-path+'UnBPro-Black.eot');
  src: local('UnBPro-Black'),
      url($font-path+'UnBPro-Black.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBPro-Black.woff2') format('woff2'),
      url($font-path+'UnBPro-Black.woff') format('woff'),
      url($font-path+'UnBPro-Black.ttf') format('truetype'),
      url($font-path+'UnBPro-Black.svg#UnBPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UnB Office';
  src: url($font-path+'UnBOffice-BoldItalic.eot');
  src: local('UnB Office Bold Italic'), local('UnBOffice-BoldItalic'),
      url($font-path+'UnBOffice-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBOffice-BoldItalic.woff2') format('woff2'),
      url($font-path+'UnBOffice-BoldItalic.woff') format('woff'),
      url($font-path+'UnBOffice-BoldItalic.ttf') format('truetype'),
      url($font-path+'UnBOffice-BoldItalic.svg#UnBOffice-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'UnBPro';
  src: url($font-path+'UnBPro-BoldItalic.eot');
  src: local('UnBPro-BoldItalic'),
      url($font-path+'UnBPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBPro-BoldItalic.woff2') format('woff2'),
      url($font-path+'UnBPro-BoldItalic.woff') format('woff'),
      url($font-path+'UnBPro-BoldItalic.ttf') format('truetype'),
      url($font-path+'UnBPro-BoldItalic.svg#UnBPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'UnBPro';
  src: url($font-path+'UnBPro-Bold.eot');
  src: local('UnBPro-Bold'),
      url($font-path+'UnBPro-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBPro-Bold.woff2') format('woff2'),
      url($font-path+'UnBPro-Bold.woff') format('woff'),
      url($font-path+'UnBPro-Bold.ttf') format('truetype'),
      url($font-path+'UnBPro-Bold.svg#UnBPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UnBPro';
  src: url($font-path+'UnBPro-Regular.eot');
  src: local('UnBPro-Regular'),
      url($font-path+'UnBPro-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBPro-Regular.woff2') format('woff2'),
      url($font-path+'UnBPro-Regular.woff') format('woff'),
      url($font-path+'UnBPro-Regular.ttf') format('truetype'),
      url($font-path+'UnBPro-Regular.svg#UnBPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UnBPro';
  src: url($font-path+'UnBPro-Light.eot');
  src: local('UnBPro-Light'),
      url($font-path+'UnBPro-Light.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBPro-Light.woff2') format('woff2'),
      url($font-path+'UnBPro-Light.woff') format('woff'),
      url($font-path+'UnBPro-Light.ttf') format('truetype'),
      url($font-path+'UnBPro-Light.svg#UnBPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UnBPro-RegularItalic';
  src: url($font-path+'UnBPro-RegularItalic.eot');
  src: local('UnBPro-RegularItalic'),
      url($font-path+'UnBPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url($font-path+'UnBPro-RegularItalic.woff2') format('woff2'),
      url($font-path+'UnBPro-RegularItalic.woff') format('woff'),
      url($font-path+'UnBPro-RegularItalic.ttf') format('truetype'),
      url($font-path+'UnBPro-RegularItalic.svg#UnBPro-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}